[Unit]
Description=Brandynette.xxx fileHost
After=network.target
Wants=network.target

[Service]
Type=simple
User=brandynette
WorkingDirectory=/home/brandynette/web/brandynette.xxx/nodeapp/js-brandynette-xxx-filehost/src/
ExecStart=/bin/bash -c 'source /home/brandynette/.nvm/nvm.sh && node server.js'
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
